
.readmore{
  font-weight: bold;
}
.composeMainCon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  width:100vw;
  height:80vh;
}
.composeMainSignin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:70vh;
}
.composeSigninCon{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height:250px;
}
.composeHeading{
  font-size:20px;
  margin-top: 0px;
  align-self: flex-start;
  color: rgb(50, 49, 51);
}
.composeSubCon{
  width:90vw;
  margin-bottom: 10px;
}
.label{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(50, 49, 51);
}
.formControl {
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: rgb(51, 50, 50);
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signinBtn{
  font-size:16px;
  color:rgb(68, 67, 67);
  font-weight: bold;
  border-radius: 5px;
  background-color: #f1a1a1;
  padding:5px 10px;
}
.submitBtn{
  font-size: 20px;
  font-weight: bold;
  color:#fff;
  background-color: rgb(14, 144, 243);
  border:none;
  border-radius: 5px;
  padding: 5px 10px;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width:100vw;
  margin:0px;
  padding-left:0px;
}
.blogCon{
  margin:10px 0px;
  padding:10px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
  width:95vw;
}
.blogHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
}
.email{
  font-style: italic;
  font-weight: bold;
}
.blogauthor{
  font-style: italic;
  font-size:14px;
  padding:0px;
  margin:0px;
}
.blogTitle{
  max-width: 90vw;
  font-size:16px;
  margin: 0px;
  padding:0px;
}
.blogContent{
  font-size: 14px;
  margin:10px 0px;
}
.headingCon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
}
.heading{
  font-size:14px;
  width:90vw;
}
.box{
  width: 350px;
  padding:0px 5px;
  margin: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.3);
}
.userInput::placeholder {
  font-family: 'Bree Serif';
  color: grey;
  opacity: 1;
}

@media(min-width:768px){
  .composeMainCon{
    align-items: flex-start;
    padding:15px;
  }
  .composeHeading{
    margin-bottom: 0px;
    font-size:26px;
  }
  .composeSubCon{
    width:90vw;
    margin-bottom: 10px;
  }
  .label{
    font-size: 22px;
  }
  .submitBtn{
    padding: 10px 20px;
  }
  .blogCon{
    width:92vw;
  }
  .blogauthor{
    font-size:16px;
  }
  .blogTitle{
    font-size:18px;
  }
  .blogContent{
    font-size: 16px;
  }
  .heading{
    font-size:16px;
    width:90vw;
  }
}
@media (min-width:1200px) {
  .composeMainCon{
    align-items: center;
  }
  .composeHeading{
    margin-bottom: 10px;
    align-self: center;
    width:70vw;
  }
  .composeSubCon{
    width:70vw;
    margin-bottom: 10px;
  }
  .label{
    font-size: 22px;
  }
  .blogCon{
    width:72vw;
  }
  .blogauthor{
    font-size:20px;
  }
  .blogTitle{
    font-size:24px;
  }
  .blogContent{
    font-size: 18px;
  }
  .heading{
    font-size:18px;
    width:70vw;
  }
  .formControl {
    font-size: 18px;
    letter-spacing: 2px;
  }
  
}